<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
  <head>
    <%- include("layouts/head") %>
  </head>
  <body class="d-flex h-100 text-center text-bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <%- include("layouts/header") %>

      <main class="px-3">
        <h1>You can book G2/G drive test from this Kiosk</h1>
        <p class="lead">You can book G2/G drive test from this Kiosk</p>
      </main>

      <%- include("layouts/footer") %>
    </div>
    <%- include("layouts/scripts") %>

  </body>
</html>
